@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
.page-background {
  background-image: url("../images/login-bg.jpg");
  background-position: center;
  background-size: cover;
}
.page-register-background {
  background-image: url("../images/register-bg.jpg");
  background-position: center;
  background-size: cover;
}
.login,
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: left;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  .card {
    width: 36%;
    padding: 10px 0px;
    @media (max-width: 991px) {
      width: 60%;
    }
    @media (max-width: 420px) {
      width: 100%;
    }
  }
  h4 {
    font-weight: 680;
    text-align: center;
    margin-bottom: 20px;
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  // padding: 2rem;
}

a {
  color: $primary;
  &:hover {
    color: rgba($primary, 89);
  }
}
.cursor-pointer {
  cursor: pointer;
}
.bg-primary {
  background-color: $primary !important;
}
.btn-primary {
  border-color: $primary !important;
  background-color: $primary !important;
  color: $white !important;
  border-radius: 0.775rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  line-height: 1.5;
  padding: calc(0.7rem + 1px) calc(1rem + 1px);
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
  &:focus,
  &:active,
  &.active {
    color: $white;
    background-color: rgba($primary, 1);
  }

  &:hover:not(.disabled):not(:disabled) {
    box-shadow: 0 8px 25px -8px rgba($primary, 1);
  }

  &:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
  }
}
.btn-light {
  border-color: $primary !important;
  background-color: $white !important;
  color: rgba($primary, 1) !important;
  border-radius: 0.775rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  line-height: 1.5;
  padding: calc(0.7rem + 1px) calc(1rem + 1px);
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
  &:focus,
  &:active,
  &.active {
    color: $white;
    background-color: rgba($primary, 1);
  }

  &:hover:not(.disabled):not(:disabled) {
    box-shadow: 0 8px 5px -8px rgba($primary, 1);
  }

  &:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
  }
}
.dashboard {
  .searchList {
    .form-control {
      border: none;
    }
  }

  .dashboard_table {
    margin: 30px 0px;
    th {
      font-size: 13px;
      font-weight: 500;
      padding-bottom: 20px;
    }
    td {
      font-size: 14px;
      align-items: center;
      margin: auto;
      padding: 10px;
      a {
        font-size: 13px;
      }
    }
  }
  image {
    clip-path: inset(0% round 50%);
    z-index: 100;
    border-radius: 50%;
    overflow: hidden;
    width: 31px;
    height: 31px;
    margin: 7px auto 0;
    display: block;
  }
  background-color: #f6f9fb;
  height: 100vh;
  width: 100%;
  padding-top: 20px;
  position: relative;
  overflow-x: hidden;
  .sidebar {
    position: fixed;
    z-index: 100;

    text-align: center;

    .navbar-brand {
      margin-bottom: 30px;
    }
    .nav-link.active {
      svg {
        color: $primary !important;
      }
    }
    .nav-link {
      svg {
        &:hover {
          color: $primary !important;
        }
      }
    }
  }

  .navbar {
    background-color: #f6f9fb;
    top: 0;
    position: fixed;
    z-index: 100;
    justify-content: space-between;
    display: flex;
    width: 89%;
    align-items: center;
    padding: 10px;
  }

  footer {
    bottom: 0 !important;
    margin-top: 30px;
    background-color: #f6f9fb;
    justify-content: space-between;
    display: flex;
    z-index: 100;
    position: fixed;
    width: 89%;
    padding: 10px 0px;
    align-items: center;
    margin-bottom: -1px;
  }
  .mid-content {
    .selected-filers {
      list-style: none;
      padding: 0;
      .single-filter {
        background-color: white;
        padding: 8px;
        margin: 5px;
        display: inline-block;
        font-size: 13px;
        cursor: pointer;
      }
    }
    h2 {
      font-weight: 500;
      font-size: 1.8rem;
    }
    .css-13cymwt-control,
    .css-t3ipsp-control {
      width: 180px !important;
      // border-color: rgba($primary, 1) !important;
      &:focused {
        border-color: rgba($primary, 1) !important;
      }
    }
    margin-top: 40px;
    animation: fadeIn 1s;
    background-color: #f6f9fb;
    padding: 10px;
    .report-box {
      flex-direction: column;
      margin-bottom: 20px;
      vertical-align: top;
      font-size: 15px;
      margin-right: 20px;
      white-space: normal;
    }
    .search-filters {
      .btn-light {
        color: gray !important;
        border: 0.5px solid gray !important;
        // width: 140px;
        // height: 50px;
        font-size: 13px;
        padding: 10px;
        &:hover:not(.disabled):not(:disabled) {
          background-color: rgba($primary, 1) !important;
          color: $white !important;
        }
      }
      .user-cards {
        top: auto !important;
        margin-top: 90px;
        font-size: 12px;
        width: 300px !important;
        border-radius: 5;
        img {
          width: 40px;
          height: 40px;
        }
        .name {
          h6 {
            font-size: 12px !important;
          }
        }
      }
      .hashtags-card {
        height: 170px;
        margin-top: 91px;
        position: absolute;
        margin-left: 4rem;

        overflow-y: scroll;
        padding: 10px;
        border-radius: 0;
        small {
          padding: 8px;
          cursor: pointer;
          &:hover {
            background-color: #07070770;
            color: white;
          }
        }
      }
    }
    .user_card {
      margin-top: 30px;
      color: white;
      background-color: rgba($primary, 1);
      padding: 20px 30px;
      text-align: left;
      margin-bottom: 10px;
      h2 {
        font-size: 40px;
        font-weight: 700;
      }
      .form-select {
        width: 180px !important;
        color: white;
        width: 200px !important;
        border-radius: 10px;
        line-height: 2rem;
        background-color: $primary !important;
        &:focus {
          box-shadow: none;
          border-color: $white;
        }
        option {
          background-color: $white;
          color: black;
          padding: 30px;
          margin: 40px;
        }
      }
      .user-image {
        position: relative;
        .verified {
          display: inline-block;
          width: 35px;
          height: 35px;
          margin-left: 16px;
          background: url(../images/verified.svg) no-repeat 50%;
          background-size: cover;
          position: absolute;
          bottom: -21px;
          right: 5px;
        }
      }
    }
    .date {
      display: flex;
      justify-content: end;
      margin-top: 10px;
    }
    .other_profiles {
      text-align: left;
    }
    #wordCloud,
    #line-followers,
    #line-following,
    #line-likes,
    #engageStepchart,
    #gendersplit {
      width: 100%;
      height: 350px;
    }
    // h2,
    // h5 {
    //   text-align: left;
    //   margin: 10px 0px;
    // }
    h5 {
      font-size: 15px;
    }
    .avg-cards {
      margin-bottom: 20px;
      padding: 22px;
      h5 {
        text-align: left;
        font-size: 15px;
        font-weight: 400;
      }
      small {
        font-size: 15px;
        margin-top: 10px;
        margin-left: 10px;
      }
    }

    .tictok-list {
      position: relative;
      padding: 10px;
      button {
        border: none;
      }

      .filter-forms {
        .location-geo {
          margin-top: 5px;
        }
        select {
          font-size: 12px;
          width: 90px;
          &:focus {
            // border: none;
            box-shadow: none;
          }
        }
        span {
          font-size: 12px;
        }
        box-shadow: #424345;
        input {
          font-size: 12px;
        }
        label {
          font-size: 15px;
        }
        .form-check {
          .form-check-input:not(:disabled):checked {
            background-color: $primary !important;
            border-color: $primary !important;
          }
          label {
            font-size: 13px;
          }
        }

        .css-1jj59y3-MenuList2 {
          font-size: 12px !important;
        }
        .css-13cymwt-control,
        .css-t3ipsp-control {
          width: 200px !important;
          height: 20px !important;
          min-height: 31px !important;
          font-size: 12px;
          // border-color: rgba($primary, 1) !important;
          &:focused {
            border-color: rgba($primary, 1) !important;
          }
        }
      }
      .user-cards {
        z-index: 100;
        position: absolute;
        top: 54px;
        width: 330px;
        left: 225px;
        padding: 10px 0px;
        .name {
          smalll {
            font-size: 12px;
          }
          text-align: left;
          padding-left: 18px;
          //  margin-top: 8px;
          h6 {
            font-size: 15px;
          }
        }
        .card-body {
          cursor: pointer;

          h6 {
            margin: 0;
          }
          a {
            text-decoration: none;
          }
          &:hover {
            background-color: aliceblue;
          }
        }
      }
    }
    .progress {
      height: 5px;
    }
    .swiper {
      width: 100%;
      padding: "50px 0px" !important;
      height: auto;
      margin-bottom: 50px;
      a {
        text-transform: none;
        text-decoration: none;
      }

      .icons {
        small {
          font-size: 14px;
          font-weight: 500;
          color: $primary;
          text-align: center;
          margin: auto;
          justify-content: center;
        }
        span {
          color: #424345 !important;
          font-size: 15px;
        }
        svg {
          color: #dadfe9;
          margin-right: 5px;
        }
      }

      .swiper-slide {
        font-size: 18px;
        background: #fff;
        padding: 20px;
        box-shadow: -7px 93px -8px 5px rgba(218, 212, 212, 0.518);
        border-radius: 12px;
        justify-content: center;
        align-items: center;

        img {
          height: 430px;
          width: 100%;
          object-fit: cover;
          border-radius: 12px;
          margin-bottom: 15px;
        }
        .slider-content {
          margin-top: "80px";
          height: 240px;
          small {
            font-weight: 400;
            margin-top: "20px";
            font-size: 14px;
            color: rgb(63, 62, 62);
          }

          p {
            font-size: 14px;
            color: black;
          }
        }
      }
    }
  }
}
